<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="3">
    <Properties>
        <Property name="log-path">/nas/share05/tools/Reprocessing/logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="FileHourlyRoll" fileName="${log-path}/Reprocess.log" filePattern="${log-path}/Archive/%d{yyyy-MM-dd}/reprocess-%d{yyyy-MM-dd-HH}-%i.log.gz">
         <PatternLayout pattern="%d - %c [%t] - %p - %m %n" />
         <Policies>
            <SizeBasedTriggeringPolicy size="1 GB" />
            <TimeBasedTriggeringPolicy />
            <OnStartupTriggeringPolicy />
         </Policies>
      </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
	    <AppenderRef ref="FileHourlyRoll"/>
        </Root>
    </Loggers>
</Configuration>

