Select Customer_ID, Address,  language, SURVEY_ID, EVENT,Transaction_Timestamp,tt_type,status,customer_first_name,customer_last_name,area,sub_area,agent_id,segment,tenure,retail_shop,tbl_dt
from ${SCHEMA_NAME}.${TABLE_NAME}
Where tbl_dt BETWEEN ${START_DATE} AND ${END_DATE}
and cast(date_format(from_iso8601_timestamp(Transaction_Timestamp),'%H') as integer) BETWEEN ${START_HOUR} and ${END_HOUR}
