<?xml version="1.0" encoding="utf-8"?>
<Configuration monitorInterval="300">
    <Properties>
        <Property name="log-path">/nas/share05/tools/DBExtrct/logs</Property>
    </Properties>
    <Appenders>
        <RollingFile name="HourlyRoll_logs" fileName="${log-path}/DBExtract.log" filePattern="${log-path}/Archive/%d{yyyy-MM-dd}/DBExtract-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <!-- PatternLayout pattern="%d - %c [%t] (%F:%L) - %p - %m %n"  -->
            <!-- PatternLayout pattern="%d - %c [%t] (%M) - %p - %m %n"  -->
            <PatternLayout pattern="%d - %c [%t] - %p - %m %n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="200 MB" />
                <TimeBasedTriggeringPolicy />
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="HourlyRoll_audit" fileName="${log-path}/DBExtract_audit.log" filePattern="${log-path}/Archive/%d{yyyy-MM-dd}/DBExtract_audit-%d{yyyy-MM-dd-HH}.log.gz">
            <!-- PatternLayout pattern="%d - %c [%t] (%F:%L) - %p - %m %n"  -->
            <!-- PatternLayout pattern="%d - %c [%t] (%M) - %p - %m %n"  -->
            <PatternLayout pattern="%d - %c [%t] - %p - %m %n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="200 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d - %c [%t] - %p - %m %n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="CONSOLE" />
            <AppenderRef ref="HourlyRoll_logs" />
        </Root>
      <Logger name="com.ligadata.utils.dbextract.Audit" level="info" additivity="false">
         <AppenderRef ref="HourlyRoll_audit" />
      </Logger>
    </Loggers>
</Configuration>

