<?xml version="1.0" encoding="utf-8"?>
<Configuration monitorInterval="300">
  <Properties>
    <Property name="local-log-path">/nas/share05/tools/DedupIncr/logs</Property>
  </Properties>
  <Appenders>
    <RollingFile name="HourlyRoll" fileName="${local-log-path}/DedupIncrLog.log" filePattern="${local-log-path}/Archive/%d{yyyy-MM-dd}/DedupIncrLog-%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout pattern="%d - %c [%t] - %p - %m %n" />
      <Policies>
        <SizeBasedTriggeringPolicy size="1 GB" />
        <TimeBasedTriggeringPolicy />
        <OnStartupTriggeringPolicy />
      </Policies>      
    </RollingFile>

    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%d - %c [%t] - %p - %m %n" />
    </Console>
  </Appenders>
  <Loggers>
    <Root level="DEBUG">
      <AppenderRef ref="CONSOLE" />
      <AppenderRef ref="HourlyRoll" />
    </Root>
  </Loggers>
</Configuration>
